---
---

html, body {
    background-color: #000;
    color: #fff;
    font-size: 100%;
}

header {
    height: 44px;
    border-bottom: solid 1px #2a2a2a;
}

a {
    color: #1F61DF;
    text-decoration: underline;
}

.button {
    background: #1F61DF !important;
    color: #fff !important;
    text-decoration: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 17px;
}

.seat {
    background: no-repeat url(/projects/iwoo/img/seat2.png);
    background-size: contain;
    height: 350px;
    position: relative;
}

.wooer {
    z-index: 1;
    height: 250px;
    width: auto;
}

.second-row {
    .wooer {
        height: 225px;
    }

    .seat {
        height: 300px;
    }
}

.third-row {
    .wooer {
        height: 200px;
    } 

    .seat {
        height: 275px;
    }
}

.fourth-row {
    .wooer {
        height: 175px;
    } 

    .seat {
        height: 225px;
    }
}

.laptop {
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

@media (max-width: 640px) {
    .button {
        background: #1F61DF;
        border-radius: 20px;
        padding: 12px 36px;
        font-size: 17px;
    }

    .seat {
        background: no-repeat url(/projects/iwoo/img/seat2.png);
        background-size: contain;
        height: 125px;
        position: relative;
    }
    
    .wooer {
        z-index: 1;
        height: 100px;
        width: auto;
    }
    
    .second-row {
        .wooer {
            height: 75px;
        }
    
        .seat {
            height: 100px;
        }
    }
    
    .third-row {
        .wooer {
            height: 70px;
        } 
    
        .seat {
            height: 90px;
        }
    }

    .third-row {
        .wooer {
            height: 70px;
        } 
    
        .seat {
            height: 90px;
        }
    }

    .fourth-row {
        .wooer {
            height: 60px;
        } 
    
        .seat {
            height: 80px;
        }
    }
    
}